@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&family=VT323&');


#logo {
    padding-left: 200px;
}

body {
    font:  16px/1.5 'Poppins', "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: linear-gradient(
      to bottom,
      #00ccff 0%,
      #00ccff 35%,
      rgb(241, 160, 160) 35%,
      rgb(241, 160, 160) 100%
    );
  } 
  #opening-text {
    margin-left: 200px;
    font-weight: bold;
  }

#canvas{
  display: table;
  margin: 0 auto;
}


.scoreOneM, .scoreTwoM{
  color: yellow;
}

.full-time {
  background-image: url("../images/referee\ giph.gif");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
  font-size: 40px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  color: purple;
}

#start-button{
  margin-left: 850px
}

 #start-button, .try-again-button, .main-menu-button{
  font-size: 30px;
  background: linear-gradient(
  to bottom,
  #33ff00 0%,
  #1c5380 100%
);
color: #fff; 
padding: 20px 40px;
border: 0;
box-shadow: 30px;
border-radius: 5px;
margin-bottom: 0px;
cursor: pointer;
}

.try-again-button{
  margin-left: 300px;
  height: 100px
}

.main-menu-button{
  margin-left: 100px;
  height: 100px
}

#yourScore{
  margin-bottom: 70px;
  margin-left: 10px
}

.scoreOne, .scoreTwo {
  font-size: 40px;
  font-weight: bold;
  color: red;
}

#score{
  margin-left: 100px;
}

#countdown{
  font-size: 50px;
}

#info{
  float: left;
}

